<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BUILD_TYPE</key>
	<string>${buildType}</string>
	<key>BUNDLE_ID</key>
	<string>com.google.samples.quickstart.SignInExample</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb663649493841807</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.680560028799-gcbfclmkt1i0qgoudtg1egmu36a9o4cc</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.tejuri.app.walif</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>walif</string>
				<string>hidubai</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.tejuri.app.walif-staging</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>walifqa</string>
				<string>tagmanager.c.com.tejuri.app.walif-staging</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb267340607059399</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.680560028799-lh7tjn0bstpg572240qnhnfk5uk0vukk</string>
			</array>
		</dict>
	</array>
	<key>CLIENT_ID</key>
	<string>${clientId}</string>
	<key>FIRTimeInterval</key>
	<string>${firTimeInterval}</string>
	<key>FacebookAppID</key>
	<string>${facebookAppId}</string>
	<key>FacebookClientToken</key>
	<string>${facebookClientToken}</string>
	<key>FacebookDisplayName</key>
	<string>HiDubai</string>
	<key>FireworkVideoAppID</key>
	<string>${fireworkVideoAppID}</string>
	<key>GOOGLE_APP_ID</key>
	<string>${googleAppId}</string>
	<key>HandOffBundleId</key>
	<string>${handOffBundleId}</string>
	<key>HiDubaiAppStoreLink</key>
	<string>https://itunes.apple.com/it/app/hidubai/id1208467301?mt=8</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<false/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>googlechromes</string>
		<string>comgooglemaps</string>
		<string>fb</string>
		<string>whatsapp</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSUserActivityTypes</key>
	<array>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER).business</string>
	</array>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>PROJECT_ID</key>
	<string>walif-160206</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>${reversedClientId}</string>
	<key>UIAppFonts</key>
	<array>
		<string>fa-brands-400.ttf</string>
		<string>fa-duotone-900.ttf</string>
		<string>fa-light-300.ttf</string>
		<string>fa-regular-400.ttf</string>
		<string>fa-sharp-light-300.ttf</string>
		<string>fa-sharp-regular-400.ttf</string>
		<string>fa-sharp-solid-900.ttf</string>
		<string>fa-solid-900.ttf</string>
		<string>fa-thin-100.ttf</string>
		<string>Cairo-Bold.ttf</string>
		<string>Cairo-Regular.ttf</string>
		<string>Cairo-SemiBold.ttf</string>
		<string>OpenSans-Bold.ttf</string>
		<string>OpenSans-Regular.ttf</string>
		<string>OpenSans-Semibold.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleDefault</string>
			<key>Translucent</key>
			<false/>
		</dict>
	</dict>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
